@media (max-width:480px) {
	.main-bar { padding: 120px 0 30px; border-bottom: none; }
	body.page.page-template-page_composer-php .vwpc-row:first-child { margin-top: 45px; }
	.vwpc-section-custom_content .section-title.title.title-large { font-size: 1.6em; }
	.post-slider .title, .post-slider .widget .widget-title, .widget .post-slider .widget-title { font-size: 1.6em; }
	.search-top { margin-top: 20px !important; float:  left; text-align: left; }
}

@media (min-width: 480px) and (max-width:767px) {

}

@media (min-width:768px) and (max-width:992px) {

}

@media (min-width:992px) and (max-width:1200px) {

}